 .cardsContainer{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 20px;
    padding: 20px 0px;
}
.cardsContainer div{
    flex: 1;
}
.button{
    display: block;
    max-width: 200px;
    text-align: center;
    margin: 40px auto;
    border: 1px solid #616060;
    padding: 15px 20px;
    border-radius: 40px;
    transition: 0.3s;
    cursor: pointer;
    color: black;
}
.button:hover{
    background-color: black;
    color: white;
}
