.StyleContainer {
  background-color: #f0f0f0;
  padding: 20px 40px 50px;
  border-radius: 20px;
}
.gridSection {
  display: grid;
  grid-template-columns: 36.6% 61.4%;
  grid-gap: 2%;
  margin-bottom: 20px;
  padding-top: 10px;
}
.gridSection2 {
  display: grid;
  grid-template-columns: 61.4% 36.6%;
  grid-gap: 2%;
}
.StyleContainer img {
  cursor: pointer;
  width: 100%;
}
