.Review{
    border: 1px solid rgba(97, 96, 96, 0.25);
    padding: 20px;
    border-radius: 20px;
}
.Review .name{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 12px 0px;
    color: black;
}
.Review .content{
    color:rgba(97, 96, 96) ;
}
.Review .date{
    margin-top: 20px;
    margin-bottom: 0;
    color: #00000099;
}