.Review{
    border: 1px solid rgba(97, 96, 96, 0.25);
    padding: 20px;
    border-radius: 20px;
}
.Review h3{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 12px 0px;
}
.Review .content{
    color:rgba(97, 96, 96) ;
}